.App{
    border: 1px solid grey;
    margin: auto;
    margin-top: 50px;
    
    padding: 25px 15px;
    max-width: 420px;
    
   
}

.to-do-container{
    display: flex;
    flex-direction: column;
}
.to-do-container ul li {
     width: 180px;
     overflow-wrap: break-word;
     list-style-type: "👉";
     cursor: pointer;
}
.Done{
    text-decoration: line-through;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trash{
    cursor: pointer;
}